{% extends "base.html" %}

{% block title %}
Area List
{% endblock %}

{% block content %}
<h1>
  エリアから探す
</h1>

<div class="row">
  <div class="col-12">
    <br>
    <form method="get" action="{%url 'web:area_list' %}">
    {% for key, value in area_checkbox_data.items %}
    <span> <input type="checkbox" name="{{key}}" {% if value %} checked="checked"{% endif %} > {{key}}</span>
    {% endfor %}
    <button type="submit" class="btn btn-primary">フィルター</button>
    </form>
    <br><br>

   <table class="table">
     <tr>
       <th>ID</th>
       <th>地方</th>
       <th>都道府県</th>
       <th>登録件数</th>
       <th></th>
     </tr>
     {% for o in object_list %}
     <tr>
       <td>{{o.id}}</td>
       <td>{{o.region}}</td>
       <td>{{o.name}}</td>
       <td>{{o.item_set.count}}</td>
       <td>
         {% if o.item_set.count > 0 %}
         <a href="{%url 'web:item_list'%}?area={{o.id}}" class="btn btn-primary">
           Check
         </a>
         {% endif %}
       </td>
     </tr>
     {% endfor %}
   </table>
  </div>
<!--  <div class="col-6">-->
<!--    <p>-->
<!--      <a class="btn btn-info" href="{%url 'web:item_create' %}">Item Create</a>-->
<!--    </p>-->
<!--  </div>-->
</div>
{% endblock %}
