{% extends "base.html" %}

{% block title %}
Item Detail
{% endblock %}

{% block content %}
<h1>
  装置詳細
</h1>

<div class="row">
  <div class="col-6">
    {% if object.image01 %}
      <img src="{{object.image01.url}}" class="img-thumbnail" width="400">
      {% endif %}
    <table class="table">
      <tr>
        <th>ID</th>
        <td>{{object.pk}}</td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td>{{object.status}}</td>
      </tr>
      <tr>
        <th>装置名</th>
        <td>{{object.name}}</td>
      </tr>
      <tr>
        <th>装置分類</th>
        <td>{{object.item_type.name}}</td>
      </tr>
      <tr>
        <th>高さ</th>
        <td>{{object.height}}</td>
      </tr>
      <tr>
        <th>横幅</th>
        <td>{{object.width}}</td>
      </tr>
      <tr>
        <th>奥行</th>
        <td>{{object.depth}}</td>
      </tr>
      <tr>
        <th>登録日時</th>
        <td>{{object.created_at}}</td>
      </tr>
      <tr>
        <th>登録者</th>
        <td>{{object.created_by}}</td>
      </tr>
      <tr>
        <th>最終更新日時</th>
        <td>{{object.last_updated_at}}</td>
      </tr>
      <tr>
        <th>最終更新者</th>
        <td>{{object.last_updated_by}}</td>
      </tr>
    </table>
  </div>
  <div class="col-6">
    {% if request.user == object.created_by %}
    <p>
      <a class="btn btn-info" href="{%url 'web:item_edit' pk=object.pk%}">編集</a>
    </p>
    {% endif %}
    <p>
      <a class="btn btn-primary {% if object.status != '承認済み' %}disabled{% endif %}"
         href="{%url 'web:case_create' %}?item={{object.pk}}">問い合わせ</a>
    </p>
    {% if object.status == '作成中' %}
    <form method="POST" action="{%url 'web:accept_request2'%}">
      {% csrf_token %}
      <input type="hidden" value="{{object.pk}}" name="pk">
      <button type="submit" class="btn btn-warning">承認依頼</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
