{% extends "base.html" %}

{% block title %}
Item List
{% endblock %}

{% block content %}
<h1>
  装置一覧
</h1>

<div class="row">
  <div class="col-12">
    <form method="get" action="{%url 'web:case_create'%}">
      <button type="submit" class="btn btn-primary">まとめて問い合わせ</button>
      <table class="table">
        <tr>
          <th></th>
          <th>ID</th>
          <th>装置名</th>
          <th>装置分類</th>
          <th>在庫都道府県</th>
          <th>価格帯</th>
          <th>高さ</th>
          <th>横幅</th>
          <th>奥行</th>
          <th>画像</th>
          <th>問い合わせ</th>
        </tr>
        {% for o in object_list %}
        <tr>
          <td><input type="checkbox" name="item_list" value="{{o.pk}}"></td>
          <td>
            <a href="{%url 'web:item_detail' pk=o.id%}">{{o.id}}</a>
          </td>
          <td>{{o.name}}</td>
          <td>{{o.item_type.name}}</td>
          <td>{{o.area.name}}</td>
          <td>{{o.price_type}}</td>
          <td>{{o.height}}</td>
          <td>{{o.width}}</td>
          <td>{{o.depth}}</td>
          <td>
            {%if o.image01%}
            <img src="{{o.image01.url}}" class="img-thumbnail" width="100">
            {%endif%}
          </td>
          <td>
            {% if o.status == '承認済み' or o.status == '商談中' %}
            <a class="btn btn-primary"
           href="{%url 'web:case_create' %}?item_list={{o.pk}}">問い合せ</a>
  <!--          <a class="btn btn-warning">ウォッチ</a>-->
            {% else %}
            <a class="btn btn-primary disabled"
           href="{%url 'web:case_create' %}?item_list={{o.pk}}">{{o.status}}</a>
  <!--          <a class="btn btn-warning disabled">{{o.status}}</a>-->
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </div>
</div>
{% endblock %}
