{% extends "base.html" %}

{% block title %}
My　Case List
{% endblock %}

{% block content %}
<h1>
  自分の問い合わせ情報
</h1>

<div class="row">
  <div class="col-12">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>種別</th>
        <th>メモ</th>
      </tr>
      {% for o in object_list %}
      <tr>
        <td>
          <a href="{%url 'web:case_detail' pk=o.id%}">{{o.id}}</a>
        </td>
        <td>{{o.case_type}}</td>
        <td>{{o.memo}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
